details {
  display: inline-block;
  position: relative;
}

summary {
  cursor: pointer;
  color: blue;
  list-style-type: none;
  text-decoration: underline;
}

.price-box {
  position: absolute;
  background: #d2ccca;
  border: 1px solid white;
  padding: 10px;
  width: 200px;
  z-index: 1;
}
